// FONT

$default-font-size: 1.6rem;

//GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 0rem;

//COLOR
$black: #000000;
$red: rgba(180, 27, 19, 1);
$blue: rgba(43, 7, 125, 1);
$dark-gray: #1e1d1d;
$brown: #8e4c19;
$light-green: rgba(47, 237, 66, 1);
$dark-green: rgba(9, 103, 18, 1);

