.section-menu {
	display:flex;
	flex-direction: column;
	position: relative;
	background-color: white;
	padding-top: 9rem;
	padding-left: 3rem;
    padding-right: 3rem;
	text-align: center;
	@include respond(phone){
		.Grid--hide {
			display: none;
			}
		}
	
	@include respond(phone){
		height: 125rem;
		padding-top: 3.9rem;
		.heading-secondary {
			font-size: 1.8rem;
			padding-bottom: 5.5rem;
		}
	}
	&__title {
		display: none;
		@include respond(phone){
			display: block;
			text-align: center;
			width: 100%;
			color: black;
			font-size: 1.5rem;
			padding-top: 6.6rem;
		}
	}
	.card {
		display: inline-block;
		position: relative;
		min-height: 32rem;
		width: 100%;
		color: black;
		border-radius: 30px;
    	border: none;
		text-align: center;
		transition: transform .3s;
		
		&--col-1-of-1 {
			@include respond(phone){
		    	height: auto;
				width: 100%;
			}
		}
		&--hide {
			@include respond(phone){
		    	display: none;
			}
		}
		&:hover {
			box-shadow: 0 1.5rem 4rem rgba($dark-gray,.15);
			transform: translateY(-1.5rem) scale(1.03);
		} 
		&__image {
			display: block;
			min-height: 17rem;
	        width: 100%;
	        max-width: 100%;
	        @include respond(phone){
		    	height: 17rem;
				width: 100%;
			}
		}
		.title-box {
			max-width: 8rem;
		}
		&__title {
			display: block;
			padding-top: 2.6rem;
			position: relative;
			background-color: $light-green;
			height: 9.4rem;
			font-size: 1.4rem;
			text-align: left;
			padding-left: 1.2rem;
			@include respond(phone){
				background-image: linear-gradient(120deg, $green, transparent, $white 99%);
			}
			
		}
		.price-box {
			display: block;
			position: absolute;
			background-color: yellow;
			color: black;
			top: 0;
			right: 0;
			min-width: 7rem;
			height: 3.7rem;
		}
		&__price {
			color: black;
			position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
		    
		}
		&__button {
			display: block;
			height: 5.1rem;
			width: 100%;
			background-color: $red;
			color: black;
			border: none;
			border-bottom-left-radius: 20px;
    		border-bottom-right-radius: 20px;
		}
	}
	&__bottom {
		padding-top: 3.5rem;
		.container {
			height: 5.2rem;
			position: relative;
			.show {
				display: inline-block;
				padding-top: 1.6rem; 
				padding-right: 3.3rem;
				height: 100%;
				border: 1px solid black;
				border-radius: 20px;
				max-width: 32rem;
				color: black;
				float: left;
				&__icon {
					float: left;
					padding-left: 3rem;
				}
				&__text {
					float: left;
					padding-left: 3.5rem;
				}
				@include respond(tab-landscape){
			    	display: none;
				}
			}
			.search {
				display: inline-block;
				height: 5.5rem;
				max-width: 78rem;
				color: black;
				width: 100%;
				float: right;
				.container {
					display: inline-block;
					height: 5.5rem;
				}
				.search-group {
					width: 100%;
					display: inline-flex;
					justify-content: flex-end;
					position: relative;
					flex-wrap: wrap;
					@include respond(phone){
						flex-direction: row-reverse;
					}
				}
				&__title {
					font-size: 1.3rem;
					float: left;
					padding-top: 20px;
					padding-right: 1.7rem;
					@include respond(phone){
						text-align: left;
						padding-top: 0;
						padding-right: 0;
						width: 100%;
					}
				}
				&__field {
					@include respond(phone){
						max-width: 29rem;
					}
				}
				&__input {
					height: 100%;
					border: 1px solid black;
				}
				&__send {
					height: 100%;
					background-color: $dark-green;
					width: 7rem;
					height: 5.2rem;
					float: right;
					border: none;
				}
			}
		
		}
	}

}