:root {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
a:link {
	color: blue;
	text-decoration: none;
}
a:visited {
	color: purple;
}
a:hover {
	text-decoration: none;
}
a:active{
	color: red;
}
html {
	font-size:62.5%; //1 rem = 10px; 10px/16px = 62.5%; 

	@include respond(tab-portable){
		font-size: 50%;	// 1rem = 8px; 8px/16px = 50%; 
 	}
	@include respond(tab-landscape){
		font-size: 56.25%; // 1rem = 9px; 9px/16px = 56%;
	}
	@include respond(phone){
		font-size: 30%; // 1rem = 4.8px; 4.8px/16px = 30%;
	}
	@include respond(big-desktop){
		font-size: 81%;	// 1rem = 12; 13/16 = 81%;
	}
}
body {
	box-sizing: border-box;
}
.satelite {
	display: table;
	padding-left: 2.7rem;
	padding-right: 2.7rem;
	
	.section-menu{
		@include respond(phone){
			display: table-row;
			height: auto;
			 
		}
	}
	.section-about{
		@include respond(phone){
			display: table-header-group;
			&__left {
				display: table-row;
			}
			&__right {
				display: table-row;
			}

		}
	}
	.section-contents{
		@include respond(phone){
			display: table-footer-group;
			padding-bottom: 7.7rem;
			&__left {
				display: table-row;
			}
			&__right {
				display: table-row;
				
				.right-btn {
					display: none;
				}
			}
		}
	}
}
